{% extends 'base.html' %}

{% block title %}Timetable - ERP System{% endblock %}

{% block content %}
<div class="page-header">Timetable</div>

<div class="card mt-4">
    <div class="card-body">
        <h5 class="mb-4">Weekly Schedule - CS Year 3</h5>
        
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
    <tr>
        <th>Day</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
    </tr>
    <tr class="table-secondary">
        <th>Time</th>
        <th>9:00 - 9:50</th>
        <th>9:50 - 10:40</th>
        <th>10:40 - 11:30</th>
        <th>11:30 - 12:20</th>
        <th>12:20 - 1:10</th>
        <th>1:10 - 2:00</th>
        <th>Break</th>
        <th>2:00 - 2:50</th>
        <th>2:50 - 3:40</th>
        <th>3:40 - 4:30</th>
        <th>4:30 - 5:20</th>
        <th>5:20 - 6:10</th>
        <th>6:10 - 7:00</th>
    </tr>
</thead>
            <tbody>
                <tr>
                    <th class="table-secondary">Mon</th>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>-</td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>MATHS<br><small>Room 104</small></td>
                    <td>MATHS<br><small>Room 104</small></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="table-secondary">Tue</th>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>-</td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="table-secondary">Wed</th>
                    <td>Java<br><small>Room 102</small></td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>MATHS<br><small>Room 104</small></td>
                    <td>MATHS<br><small>Room 104</small></td>
                    <td>-</td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="table-secondary">Thu</th>
                    <td>-</td>
                    <td>-</td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>-</td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="table-secondary">Fri</th>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>CIS<br><small>Room 103</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>Python Full Stack<br><small>Room 101</small></td>
                    <td>MATHS<br><small>Room 104</small></td>
                    <td>MATHS<br><small>Room 104</small></td>
                    <td>-</td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>Java<br><small>Room 102</small></td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>CN<br><small>Lab 201</small></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
